---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import { getEntryBySlug } from "astro:content";

interface TAction {
  name: string;
  icon: string;
  url: string;
}

const home = await getEntryBySlug("home", "index");
const { actions } = home.data;
---

<Layout title="invoices">
  <section class="w-full rounded-lg bg-neutral bg-opacity-40 shadow-lg">
    <div>
      <div class="rounded p-2">
        <h2 class="text-center font-medium text-neutral">Quick Actions</h2>
      </div>
      <div class="flex justify-evenly p-2">
        {
          actions.action.map((data: TAction) => (
            <>
              <div>
                <div>
                  <a href={data.url} class="btn btn-sm">
                    <Icon name={`tabler:${data.icon}`} size={20} />
                    <span class="hidden md:flex">{data.name}</span>
                  </a>
                </div>
              </div>
              <div class="divider divider-neutral divider-horizontal last:hidden" />
            </>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
